body {
    background-color: white;
    color: #404040;
    margin-right : 15%;
    margin-left : 15%;
    padding : 0px;
    font-size : 12pt; 
    font-family: Helvetica, Palatino, Georgia, sans-serif;
    background-position : top left;
    background-repeat : no-repeat;
    text-align : justify;
}

h1, h2, h3, h4, h5 {
    font-weight : bold;
    background-color: #F0F0F0;
    padding: 3px;
    margin: 0px;
}
    

h1 {
    font-size : 18pt;
    font-variant : small-caps;
}

h2 {
    font-size : 16pt;
    font-variant : small-caps;
}

h3 {
    font-size : 14pt;
}

h4 {
    font-size : 12pt;
}

h5 {
    font-size : 11pt;
}

pre {
    color: #000000;
    //background-color: E0E0E0;
    border-color: #505050;
    //font-weight : bold;
    font-family : Courier;
    font-size : small;
    border-style : dotted;
    border-width : 1px;
    padding : 5px;
}

code {
    color: #000000;
    font-family : Courier;
    font-weight : bold;
    font-size : small;
    //background-color: #F0F0F0;
    font-size : 12pt; 
}

pre code {
    font-weight : normal;
}
    

p {
    padding : 0px;
}

a {
    color: #109910;
    //background-color: #F0FFF0;
}

em {
    //color: #D03030;
    background-color: #FFF0F0;
    // font-weight : bold;
}
